.nombre{
    height: 100vh; width: 100%;
    background: #F2F3EB;
}
.nombre2{
    height: 700px; width: 550px; 
    border: 2px solid black;
}
.nombre3{
    width: 95%; 
}
.nombre4{
    width: 20%;
}
.Center {
    width: 100px;
    height: 40px;
    margin: auto;
    position: static;
    top: 80%;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .n4{
      margin-right:160px;
  }
  .n5{
    margin-right:140px;
}
.n6{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat', Arial, sans-serif;
}
.button{
    border-radius: 0px !important;
    margin-top: 10px;
    background-color: #F2F3EB !important;
    color: #70798C;
    border: 2px solid #70798C;
}
.button:hover{background-color: #70798C !important;
color: #F2F3EB;}